@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style-type: none;
  marker: none;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-flex-start {
  justify-content: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-end {
  align-items: end;
}

.ai-start {
  align-items: start;
}

.ai-self-end {
  align-items: self-end;
}

.ai-self-start {
  align-items: self-start;
}

.flex-d-col {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.g-76 {
  gap: 76px;
}

.g-40 {
  gap: 40px;
}

.g-24 {
  gap: 24px;
}

.g-16 {
  gap: 16px;
}

.g-12 {
  gap: 12px;
}

.g-8 {
  gap: 8px;
}

.g-4 {
  gap: 4px;
}

.customer-container {
  position: relative;
  background-image: url("../assets/customer-img/img/bg-img.png");
  background-position: center;
  background-size: cover;
}

.container {
  padding: 70px;
  margin: 0px auto;
}

.swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  flex-shrink: 0; /* Prevent the slides from shrinking to fit */
}
.swiper-container .swiper-wrapper .swiper-slide nav {
  position: absolute;
  height: 10%;
  padding: 0px 90px;
  gap: 12px;
  position: absolute;
  top: -10%;
  left: -10.5%;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment {
  gap: 4px;
  height: auto;
  width: auto;
  margin: 6px;
  position: relative;
  padding: 3px 12px;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);
  background-clip: padding-box; /* !importanté */
  border: solid -1px transparent; /* !importanté */
  border-radius: 8px;
  z-index: 9;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: #cccccc;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment a {
  color: #FF4747;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment p {
  z-index: 9;
  font-size: 14px;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment span {
  z-index: 9;
  font-size: 18px;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment .person {
  font-size: 20px;
}
.swiper-container .swiper-wrapper .swiper-slide nav .accomplishment .help {
  font-size: 20px;
}
.swiper-container .swiper-wrapper .swiper-slide footer {
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: rgba(189, 131, 131, 0.719);
}
.swiper-container .swiper-wrapper .swiper-slide .close-menu .page-0 {
  width: 50%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .close-menu .page-2 {
  position: relative;
  width: 50%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .close-menu .page-2 .menu-cover-content {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 90%;
  width: 90%;
}
.swiper-container .swiper-wrapper .swiper-slide .close-menu .page-2 .menu-cover-content h1 {
  font-size: 32px;
  font-weight: 400;
  font-family: Pacifico, sans-serif;
  text-transform: none;
  background-image: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.swiper-container .swiper-wrapper .swiper-slide .close-menu .page-2 .menu-cover-content .restaurant-logo p {
  background-image: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide .close-menu .page-2 .menu-cover-content .swipe-navigation {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  width: 50%;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open {
  width: 96%;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items {
  position: absolute;
  width: 92%;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  gap: 55px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left {
  height: 92%;
  width: 46%;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-green, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-green {
  width: 48px;
  height: 22px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-red, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-red {
  width: 76px;
  height: 22px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input-green:checked ~ .switch-handle, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input-green:checked ~ .switch-handle {
  left: 27.5px;
  /* box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); */
  top: 2px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input-red:checked ~ .switch-handle, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input-red:checked ~ .switch-handle {
  left: 55.5px;
  /* box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); */
  top: 2px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label:before, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label:after, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label:before, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label-green:before, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label-green:before {
  content: attr(data-off);
  right: 6px;
  top: 12px;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
  /* text-shadow: 0 1px rgba(255, 255, 255, 0.5); */
  text-transform: capitalize;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label-red:before, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label-red:before {
  content: attr(data-off);
  right: 10px;
  top: 12px;
  color: #aaa;
  font-size: 10px;
  font-weight: 600;
  /* text-shadow: 0 1px rgba(255, 255, 255, 0.5); */
  text-transform: capitalize;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label-red:after, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label-red:after {
  content: attr(data-on);
  left: 8px;
  color: white;
  opacity: 0;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label-green:after, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label-green:after {
  content: attr(data-on);
  left: 5px;
  color: white;
  opacity: 0;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input:checked ~ .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input:checked ~ .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input:checked ~ .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-label, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input:checked ~ .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input:checked ~ .switch-label:before, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-input:checked ~ .switch-label:after, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-handle, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-handle {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-green > .switch-input:checked ~ .switch-label, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .switch-red > .switch-input:checked ~ .switch-label, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .switch-red > .switch-input:checked ~ .switch-label {
  background: red;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-title-text, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-title-text {
  width: 340px;
  height: 30px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0px 12px;
  background: rgb(255, 102, 102);
  background: linear-gradient(90deg, rgb(255, 102, 102) 5%, rgba(255, 255, 255, 0) 100%);
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-title-text p, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-title-text p {
  color: #fff;
  font-size: 16;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-content, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-content {
  overflow-y: auto;
  height: 88%;
  width: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-content::-webkit-scrollbar, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-content::-webkit-scrollbar {
  display: none;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-content-items, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-content-items {
  height: fit-content;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-content-item, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-content-item {
  width: 100%;
  height: 94px;
  padding: 12px 0px;
  margin-bottom: 1px;
  border-bottom: 1px solid #DDDDDD;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-food-img, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-food-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 6px;
  background-image: url(../assets/customer-img/img/Rectangle-8.png);
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-food-name, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-food-name {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-food-details, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-food-details {
  font-size: 12px;
  color: #555555;
  display: flex;
  width: 270px;
  flex-direction: column;
  line-height: 14px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-food-quantity, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-food-quantity {
  margin-left: -20px;
  width: 66px;
  height: 56px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-right .menu-food-quantity .rate, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .menu-left .menu-food-quantity .rate {
  color: #222222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .item-status {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 80px;
  background-color: rgba(84, 186, 84, 0.8);
  color: #FFF;
  font-size: 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .veg-nonveg::after, .swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .taste::after {
  margin-left: 8px;
  content: "";
  height: 13px;
  width: 1px;
  background-color: #DDDDDD;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .taste-text p {
  height: 14px;
  margin-top: 1px;
  font-size: 10px;
  line-height: 14px;
  color: #222222;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .add-remove {
  color: #54BA54;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .btn {
  height: 18px;
  width: 18px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #54BA54;
  color: #54BA54;
  text-align: center;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .remove-btn {
  font-size: 14px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .page-open .menu-items .add-btn {
  font-size: 14px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .food-navigation {
  width: 4%;
  height: 92%;
  overflow: hidden;
  overflow-y: auto;
  margin-left: -1%;
  gap: 80px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .food-navigation::-webkit-scrollbar {
  display: none;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .food-navigation-title {
  transform: rotate(90deg);
  width: 110px;
  background-image: url(../assets/customer-svg/svg/Rectangle-15.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .food-navigation-title:first-child {
  margin-top: 45px;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .food-navigation-title:first-child .active {
  color: #FF4747;
  font-size: 16px;
  font-weight: 600;
}
.swiper-container .swiper-wrapper .swiper-slide .open-menu .food-navigation-title a {
  color: #888888;
  font-size: 16px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
