@import "./includes/variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    overflow: hidden;
    //overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
    marker: none;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-evenly{
    justify-content: space-evenly;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;
}


.justify-flex-start {
    justify-content: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-flex-start {
    align-items: flex-start;
}

.ai-flex-end {
    align-items: flex-end;
}

.ai-end {
    align-items: end;
}

.ai-start {
    align-items: start;
}

.ai-self-end {
    align-items: self-end;
}

.ai-self-start {
    align-items: self-start;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-fit-content {
    height: fit-content;
}

.w-fit-content {
    width: fit-content;
}


.g-76 {
    gap: 76px;
}
 

.g-24 {
    gap: 24px;
}

.g-33 {
    gap: 33px;
}

.g-16 {
    gap: 16px;
}

.g-12 {
    gap: 12px;
}

.g-8 {
    gap: 8px;
}

.g-6 {
    gap: 6px;
}

.g-4 {
    gap: 4px;
}

.customer-container {
    position: relative;
    // /* max-width: 1242px; */
    background-image: url('../assets/customer-img/img/bg-img.png');
    background-position: center;
    background-size: cover;
}

.container {
    padding: 70px;
    margin: 0px auto;
    // margin: -10px auto;
}


.swiper-container {
    // background-color: #fff;
    // overflow: hidden; /* Apply overflow: hidden to hide content exceeding dimensions */

    .swiper-wrapper {
        .swiper-slide {
            height: 98%;
            position: relative;
            flex-shrink: 0; /* Prevent the slides from shrinking to fit */

            @import './components/navbar';


            @import './components/close-menu';


            @import './components/open-menu';

            //Third Slide - MY ORDERS
            .progress-section {
                height: 97%;
                // width: 98%;
                // background-color: rgba(112, 165, 165, 0.856);

                @import './components/progress-section-left';
                
                &-right {
                    height: 100%;
                    width: 62%;
                    background-color: #fff;
                    border-radius: 24px;

                    @import './components/my-cart';

                    @import './components/my-registeration';

                    .my-order {
                        height: 100%;
                        width: 100%;
                        border-radius: 24px;
                        // background-color: rgba(140, 199, 199, 0.884);

                        &  header {
                            flex-shrink:  0;
                            width: 100%;
                            height: 8%;
                            background: $red;
                            background: linear-gradient(90deg, #ffe5e5 0%, #ffd5d5 100%);;
                            border-radius: 24px 24px 0px 0px;
                            color: $primary-dark-grey;
                    
                            & span {
                                font-size: 25px;
                            }
                    
                            & p {
                                padding: 0;
                                font-size: 20px;
                                font-family: Pacifico, sans-serif;
                            }
                        }

                        &-footer {
                            height: 15%;
                            width: calc(100% - 32px);
                            padding: 0px 16px;
                            border-radius: 0px 0px 24px 24px;
                            border-top:  1px solid $off-white;
                            // background-color: rgba(182, 127, 127, 0.767);
                    
                            &-container {
                                position: relative;
                                height: fit-content;
                                width: 100%;

                                & label {
                                    font-size: 12px;
                                }
                    
                                & .swiper-button-prev {
                                    position: absolute;
                                    height: 26px;
                                    width: 152px;
                                    /* top: 80%; */
                                    /* transform: translate(0%, -50%); */
                                    margin: -14px -9px;
                    
                                    &::after {
                                        display: none;
                                    }
                                }
                    
                                & .swiper-button-next {
                                    position: absolute;
                                    height: 30px;
                                    width: 152px;
                                    /* top: 80%; */
                                    // left: -2.75%;
                                    /* transform: translate(0%, -50%); */
                                    margin: -16px -10px;
                    
                                    &::after {
                                        display: none;
                                    }
                                }
                    
                                & .add-more {
                    
                                    // padding: 3px 12px;
                                    border-radius: 6px;
                                    border: 1px solid $dark-red;
                                    cursor: pointer;
                    
                                    & span {
                                        font-size: 22px;
                                        color: $dark-red;
                                    }
                    
                                    & p {
                                        padding: 0;
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: $dark-red;
                                    }
                                }
                    
                                & .show-my-bill {
                                    cursor: pointer;
                                    border-radius: 6px;
                                    color: $widget-white;
                                    background: rgb(255,102,102);
                                    background: linear-gradient(90deg, rgba(255,102,102,1) 40%, rgba(255,150,136,1) 100%);
                    
                                    & span {
                                        font-size: 22px;
                                        font-weight: 200;
                                    }
                    
                                    & p {
                                        padding: 0;
                                        color: $widget-white;
                                        font-size: 14px;
                                    }
                                }
                            }

                            .edit-my-order {
                                margin-left: 26px;

                                input[type="checkbox"]:checked {
                                    position: relative;
                                }
                                input[type="checkbox"]:checked:after {
                                    content: '\2713'; /* Unicode character for check mark */
                                    font-size: 13px;
                                    color: $green; /* Change the color of the check mark */
                                    top: 40%;
                                    transform: translate(-50%, -50%);
                                    left: 50%;
                                    position: absolute;
                                }
                            }

                            .finalise-my-order {
                                margin-right: 16px;

                                input[type="checkbox"]:checked {
                                    position: relative;
                                }
                                input[type="checkbox"]:checked:after {
                                    content: '\2713'; /* Unicode character for check mark */
                                    font-size: 13px;
                                    color: $green; /* Change the color of the check mark */
                                    top: 40%;
                                    transform: translate(-50%, -50%);
                                    left: 50%;
                                    position: absolute;
                                }
                            }
                        }

                        &-choice {
                            margin-top: -15px;

                            .checked-label {
                                color: $green;
                            }

                            input[type="checkbox"] {
                                appearance: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                width: 14px;
                                height: 14px;
                                border-radius: 5px;
                                border: 1px solid #aaaaaa;
                                outline: none;
                                transition: border-color 0.3s;
                            }
                            input[type="checkbox"]:checked {
                                border-color: $green; /* Change the border color when checked */
                            }
                            
                        }
                    }
                }
            }

            @import './components/footer';
        }
    }
}
