@import "./includes/variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    overflow: hidden;
    //overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
    marker: none;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;
}


.justify-flex-start {
    justify-content: flex-start;
}

.ai-center {
    align-items: center;
}

.flex-d-col {
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}


.g-76 {
    gap: 76px;
}

.g-16 {
    gap: 16px;
}

.g-24 {
    gap: 24px;
}

.g-12 {
    gap: 12px;
}

.customer-container {
    position: relative;
    // /* max-width: 1242px; */
    background-image: url('../assets/customer-img/img/bg-img.png');
    background-position: center;
    background-size: cover;
}

.container {
    padding: 70px;
    margin: 0px auto;
    // margin: -10px auto;
}


.swiper-container {
    // background-color: #fff;
    // overflow: hidden; /* Apply overflow: hidden to hide content exceeding dimensions */

    .swiper-wrapper {
        .swiper-slide {
            position: relative;
            flex-shrink: 0; /* Prevent the slides from shrinking to fit */

            nav {
                position: absolute;
                height: 10%;
                padding: 0px 90px;
                gap: 12px;
                position: absolute;
                top: -10%;
                left: -10.5%;
                // background: #fff;
            
                .accomplishment {
                    gap: 4px;
                    height: auto;
                    width: auto;
                    margin: 6px;
                    position: relative;
                    padding: 3px 12px;
                    box-sizing: border-box;
                    $border: -1px;
                    background: linear-gradient(90deg, rgba(255,102,102,1) 40%, rgba(255,150,136,1) 100%);
                    background-clip: padding-box; /* !importanté */
                    border: solid $border transparent; /* !importanté */
                    border-radius: 8px;
                    z-index: 9;
                  
                    &:after {
                      content: '';
                      position: absolute;
                      top: 0; right: 0; bottom: 0; left: 0;
                      //z-index: 1;
                      margin: -$border; /* !importanté */
                      border-radius: inherit; /* !importanté */
                      background: #cccccc;
                    }

                    & a{
                        color: $dark-red;
                    }
            
                    & p {
                        z-index: 9;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    
                    & span {
                        z-index: 9;
                        font-size: 18px;
                    }
            
                    & .person {
                        font-size: 20px;
                    }
            
                    & .help {
                        font-size: 20px;
                    }
                  }
            }

            .close-menu {
                .page-0 {
                    width: 50%;
                    height: 100%;
                    // background-color: red;
                }
                
                .page-2 {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    // background-color: #000;

                    .menu-cover-content {
                        // padding: 84px;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        top: 50%;
                        height: 90%;
                        width: 90%;

                        & h1 {
                            font-size: 32px;
                            font-weight: 400;
                            font-family: Pacifico, sans-serif;
                            text-transform: none;
                            background-image: linear-gradient(90deg, rgba(255,102,102,1) 40%, rgba(255,150,136,1) 100%);
                            -webkit-background-clip: text;
                            color: transparent;
                        }

                        .restaurant-logo {
                            
                            & p {
                                background-image: linear-gradient(90deg, rgba(255,102,102,1) 40%, rgba(255,150,136,1) 100%);
                                -webkit-background-clip: text;
                                color: transparent;
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }

                        & .swipe-navigation {
                            text-align: center;
                            font-size: 12px;
                            font-weight: 400;
                            margin: 0 auto;
                            width: 50%;
                        }
                    }
                }
            }
            
            .open-menu {
                .page-open {
                    width: 96%;
                    // background-color: red;

                    .menu-items {
                        position: absolute;
                        // z-index: 99;
                        width: 92%;
                        top: 50%;
                        left: 48.5%;
                        transform: translate(-50%, -50%);
                        gap: 55px;
                        //background-color: #dde5e378;

                        .menu-right, .menu-left {
                            height: 92%;
                            width: 46%;
                            // background-color: rgba(136, 111, 160, 0.788);
                            // padding: 0px 16px;

                            @import './components/toggle';

                            .menu-title {
                                &-text {
                                    width: 340px;
                                    height: 30px;
                                    border-top-left-radius: 8px;
                                    border-bottom-left-radius: 8px;
                                    padding: 0px 12px;
                                    background: rgb(255,102,102);
                                    background: linear-gradient(90deg, rgba(255,102,102,1) 5%, rgba(255, 255, 255, 0) 100%);

                                    & p {
                                        color: #fff;
                                        font-size: 16;
                                        font-weight: 600;
                                    }
                                }
                            }

                            .menu-content {
                                overflow-y: auto;
                                height: 88%;
                                width: 100%;

                                &::-webkit-scrollbar {
                                        display: none;
                                }

                                &-items {
                                    width: 100%;
                                    height: fit-content;
                                }

                                &-item {
                                    width: 100%;
                                    height: 94px;
                                    padding: 12px;
                                    margin-bottom: 1px;
                                    border-bottom: 1px solid  $off-white;
                                    // background-color: rgba(215, 88, 46, 0.183);
                                }
                            }
                        }
                    }
                }

                .food-navigation {
                    width: 4%;
                    height: 92%;
                    overflow: hidden;
                    overflow-y: auto;
                    margin-left: -1%;
                    // background-color: yellow;

                    &::-webkit-scrollbar{
                        display: none;
                    }

                    .menu-links {
                        margin-top: 120px;
                    }
                }

            }
        }
    }
}
