@import "./includes/variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    //overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style-type: none;
    marker: none;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;
}


.justify-flex-start {
    justify-content: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-flex-start {
    align-items: flex-start;
}

.ai-flex-end {
    align-items: flex-end;
}

.ai-end {
    align-items: end;
}

.ai-start {
    align-items: start;
}

.ai-self-end {
    align-items: self-end;
}

.ai-self-start {
    align-items: self-start;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.h-100 {
    height: 100%;
}

.h-90 {
    height: 90%;
}

.w-100 {
    width: 100%;
}

.h-50 {
    height: 50%;
}

.w-50 {
    width: 50%;
}

.h-0 {
    height: 0;
}

.w-0 {
    width: 0;
}

// .bor-rad-0 {
//     border-radius: 0px;
// }

// .pad-0 {
//     padding: 0px;
// }

.h-fit-content {
    height: fit-content;
}

.w-fit-content {
    width: fit-content;
}

.margin-bot--20 {
    margin-bottom: -20px;
}

.margin-6-50 {
    margin: 0% 6% 0% 50%;
}

.g-76 {
    gap: 76px;
}

.g-92 {
    gap: 92px;
}


.g-24 {
    gap: 24px;
}

.g-33 {
    gap: 33px;
}

.g-40 {
    gap: 40px;
}

.g-32 {
    gap: 32px;
}

.g-36 {
    gap: 36px;
}

.g-16 {
    gap: 16px;
}

.g-14 {
    gap: 16px;
}

.cg-16 {
    column-gap: 16px;
}

.g-12 {
    gap: 12px;
}

.g-10 {
    gap: 10px;
}

.g-8 {
    gap: 8px;
}

.rg-8 {
    row-gap: 8px;
}

.g-6 {
    gap: 6px;
}

.g-4 {
    gap: 4px;
}

.g-2 {
    gap: 2px;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.d-none {
    display: none;
}

.transform-50-50 {
    transform: translate(-50%, -50%);
}

.left-50 {
    left: 50%;
}

.top-50 {
    top: 50%;
}

.text-trans-none {
    text-transform: none;
}

textarea {
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 400;
}

button, .swiper-button-next, .swiper-button-prev {
    outline: none;
    box-shadow: none;
}

// .swiper-button-next:hover {
//     background: red;
// }

button,
a,
input[type="checkbox"],
.tip-amount {
    cursor: pointer;
    font-family: Nunito, sans-serif;
}

a:hover {
    background-color: transparent;
}

.transform-rotate-90 {
    transform: rotate(90deg);
}

img {
    image-rendering: pixelated;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.customer-container {
    position: relative;
    // /* max-width: 1242px; */
    background-image: url('../assets/customer-img/img/bg-img.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.bg-white {
    background-color: #fff !important;
}

.container {
    position: relative;
    padding: 70px;
    margin: 0px auto;
    // margin: -10px auto;

    @import './components/navbar_modal';
}


.swiper-container {
    // background-color: #fff;
    // overflow: hidden; /* Apply overflow: hidden to hide content exceeding dimensions */

    .swiper-wrapper {

        & .swiper-button-next {

            &::after {
                display: none;
            }
            position: static;
            top: 0; 
            margin-top: 0; 
            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--swiper-navigation-color,var(--swiper-theme-color));
        }
        .swiper-slide {
            height: 98%;
            position: relative;
            flex-shrink: 0;
            /* Prevent the slides from shrinking to fit */

            @import './components/navbar';


            @import './components/close-menu';


            @import './components/open-menu';


            .progress-section {
                height: 97%;
                // width: 98%;
                // background-color: rgba(112, 165, 165, 0.856);

                @import './components/progress-section-left';

                & #progress-section-right-modal {
                    overflow: hidden;
                }

                &-right {
                    position: relative;
                    height: 100%;
                    width: 62%;
                    background-color: #fff;
                    box-shadow: 2px 6px 24px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 24px;

                    @import './components/my-cart';

                    @import './components/my-registeration';

                    @import './components/my-order-placed';

                    @import './components/my-bill';

                    @import './components/my-payment';

                    @import './components/thanku-payment';
                    
                    @import './components/my-review';

                    @import './components/logout-page';

                    
                    
                }

                &-myPayment {
                    width: 61% !important;
                }

                &-myReview {
                    width: 61% !important;
                }
            }
            
            

            @import './components/footer';
        }
    }
}