&.benefits{
    // padding: 16px;

    & .benefit{
        width: calc(100% - 36px);
        margin: 0px auto;
        // background-color: rgba(201, 130, 130, 0.39);
        height: fit-content;
        padding-top: 24px;

        & .benefit-imgs {
            width: 200px;
            height: 90px;

            & p {
                background: var(--red-linear-red, linear-gradient(90deg, #F66 0%, #FF9688 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
            }
        }

        & p {
            text-transform: none;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            color: #444;
        }

        & .benefit-list {

            & h3 {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 27px;
                color: #111;
            }

            & ul {
                padding: 0px 24px;
            }

            & ul>li {
                list-style: disc;
                font-family: Nunito;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                color: #111;
                padding: 8px 0px;
            }
        }
        
    }

    
}