& .cash {
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out;
    // background-color: rgba(0, 0, 0, 0.521);
    .cash-img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 1px solid $green;

        &-container {
            height: 104px;
            width: 104px;
            border-radius: 50%;
            background-color: rgba(84, 186, 84, 0.10);
            
        }
    }

    & p {
        color: $primary-dark-grey;
        width: 356px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        line-height: 21px;
    }

    & .swiper-button-next::after {
        display: none;
    }

    & .swiper-button-next {
        position: static;
        z-index: 10;
        cursor: pointer;
        width: 135px;
        margin-top: 0px;
        height: 30px;
        border: none;
        border-radius: 6px;
        padding: 2px 4px;
        color: #fff;
        background: rgb(255, 102, 102);
        background: linear-gradient(90deg, rgba(255, 102, 102, 1) 40%, rgba(255, 150, 136, 1) 100%);

        & p {
            color: #fff;
            width: auto;
        }

        &:hover {
            background: linear-gradient(90deg, rgba(255, 102, 102, 1) 40%, #f35555 100%);
        }

    }

}