.my-review {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    // background-color: rgba(140, 199, 199, 0.884);

    & header {
        flex-shrink: 0;
        width: 100%;
        height: 8%;
        background: $red;
        background: linear-gradient(90deg, #ffe5e5 0%, #ffd5d5 100%);
        ;
        border-radius: 24px 24px 0px 0px;
        color: $primary-dark-grey;

        & span {
            font-size: 25px;
        }

        & p {
            padding: 0;
            font-size: 20px;
            font-family: Pacifico, sans-serif;
        }
    }

    & .reviews-section {
        height: 76%;
        width: 100%;
        padding: 16px 0px;
        // background-color: red;

        & .review-header {
            width: calc(100% - 32px);
            height: 6%;
            margin: 0px auto;
            // margin-bottom: 24px;

            // background-color: rgba(107, 155, 155, 0.87);

            & p {
                color: $primary-dark-grey;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                text-transform: none;
            }
        }

        & .review-navs {
            width: calc(100% - 32px);
            height: 5%;
            padding: 0px 16px 8px 16px;
            margin: 0px auto;
            gap: 0px;

            & p {
                height: 29px;
                width: 56px;
                border-bottom: 2 solid $off-white;
                font-size: 14px;
                font-family: Pacifico;
                font-weight: 400;
                background-image: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                border-bottom: 2px solid $off-white;
            }

            & .review-nav {
                border-bottom: 2px solid $off-white;
                padding-bottom: 0px;
                height: 29px;
                width: 100%;
                & a {
                    width: 150px;
                    // height: 29px;
                    padding-bottom: 8px;
                    text-align: center;
                    color: $primary-black;
                    font-family: Nunito, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;

                    &.active {
                        border-bottom: 2px solid $dark-red;
                        border-bottom-left-radius: 2px;
                        border-bottom-right-radius: 2px;
                    }
                }
            }
        }
        & .reviews-container {
            flex-shrink: 0;
            height: 76%;
            gap: 32px;
            width: calc(100% - 32px);
            // background-color: rgba(220, 148, 148, 0.801);
            margin: 0px auto;
            overflow: hidden;

            & .review-container {
                overflow-x: auto;
                width: 300%;
                height: 100%;

                &::-webkit-scrollbar {
                    display: none;
                }

                & .review-food {
                    // height: fit-content;
                    // background-color: rgba(187, 116, 116, 0.788);
                    & p {
                        color: $primary-black;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: none;
                        line-height: 24px;
                    }

                    .food-review-container {
                        height: 88%;
                        overflow: hidden;
                        overflow-y: auto;
                        // background-color: red;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        & .food-review {
                            padding-bottom: 12px;
                            border-bottom: 1px solid $off-white;

                            &-img {
                                height: 50px;
                                min-width: 50px;
                                object-fit: cover;
                                object-position: center;
                                overflow: hidden;
                                margin: 0px;
                                border-radius: 6px;

                                & img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            &-content {
                                max-width: 270px;

                                & p {
                                    color: $primary-black;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 21px;
                                }

                                & .review-food-description {
                                    font-size: 12px;
                                    color: $primary-dark-grey;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                }

                            }

                            & .food-rating {
                                margin: auto 0px;
                                
                                & .star-container {
                                    height: 36px;
                                    width: 36px;
                                }

                                .star-label {
                                    font-size: 42px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                }
                            }
                        }
                    }
                }

                & .review-service {
                    // background-color: rgba(135, 135, 190, 0.788);
                    & p {
                        color: $primary-black;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: none;
                        line-height: 24px;
                    }

                    .services-review-container {
                        height: 88%;
                        overflow: hidden;
                        overflow-y: auto;
                        // background-color: red;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        & .service-review {
                            padding-bottom: 12px;
                            border-bottom: 1px solid $off-white;

                            &-img {
                                height: 50px;
                                min-width: 50px;
                                object-fit: cover;
                                object-position: center;
                                overflow: hidden;
                                margin: 0px;
                                border-radius: 6px;

                                & img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            &-content {
                                max-width: 270px;

                                & p {
                                    color: $primary-black;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 21px;
                                }

                                & .review-service-description {
                                    font-size: 12px;
                                    color: $primary-dark-grey;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                }

                            }

                            & .service-rating {

                                margin: auto 0px;
                                
                                & .star-container {
                                    height: 36px;
                                    width: 36px;
                                }

                                .star-label {
                                    font-size: 42px;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                }
                            }
                        }
                    }
                }

                & .review-experience {
                    // background-color: rgba(131, 185, 131, 0.644);

                    & p {
                        color: $primary-black;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 30px;
                        text-transform: none;
                    }

                    & label p {
                        font-size: 15px;
                    }

                    
                                $color-default: $primary-black;
                                $color-active: $primary-black;
                                $color-focused: $primary-black;

                                & .textfield-outlined {
                                    position: relative;
                                    margin-bottom: 20px;
                                    width: 100%;
                                    padding-top: 6px;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    letter-spacing: .4px;
                                }

                                // Form elements
                                & .textfield-outlined>textarea {
                                    box-sizing: border-box;
                                    resize: vertical;
                                    width: 100%;
                                    // margin-left: 0.5px;
                                    height: 120px;
                                    padding: 14px 14px 0px 14px;
                                    font-size: 15px;
                                    line-height: inherit;
                                    color: $color-active;
                                    border-style: solid;
                                    border-width: 1px;
                                    border-color: transparent #AAAAAA #AAAAAA;
                                    border-radius: 12px;
                                    -webkit-text-fill-color: currentColor; // Safari
                                    background-color: transparent;
                                    caret-color: $color-focused;
                                    transition: border .2s, box-shadow .2s;
                                }

                                & .textfield-outlined>textarea:not(:focus):placeholder-shown {
                                    border-top-color: #AAAAAA;
                                }

                                // Label
                                & .textfield-outlined>textarea+label {
                                    display: flex;
                                    width: 100%;
                                    height: 48px;
                                    position: absolute;
                                    top: 4.5px;
                                    left: 0;
                                    font-size: 14px;
                                    line-height: 8px;
                                    color: $color-default;
                                    cursor: text;
                                    transition: color .2s,
                                        font-size .2s,
                                        line-height .2s;
                                }

                                & .textfield-outlined>textarea:not(:focus):placeholder-shown+label {
                                    font-size: 14px;
                                    line-height: 54px;
                                    color: $primary-black;
                                }

                                // Corners
                                & .textfield-outlined>textarea+label::before,
                                .textfield-outlined>textarea+label::after {
                                    content: "";
                                    display: block;
                                    box-sizing: border-box;
                                    height: 48px;
                                    min-width: 10px;
                                    margin-top: 2.25px;
                                    font-size: 14px;
                                    border-top: solid 1px #AAAAAA;
                                    pointer-events: none;
                                    box-shadow: inset 0 1px transparent;
                                    transition: border .2s,
                                        box-shadow .2s;
                                }

                                & .textfield-outlined>textarea+label::before {
                                    margin-right: 4px;
                                    border-left: solid 1px transparent;
                                    border-radius: 12px 0;
                                }

                                &  .textfield-outlined>textarea+label::after {
                                        flex-grow: 1;
                                        margin-left: 4px;
                                        border-right: solid 1px transparent;
                                        border-radius: 0 12px;
                                    }

                                &  .textfield-outlined>textarea:not(:focus):placeholder-shown+label::before,
                                &  .textfield-outlined>textarea:not(:focus):placeholder-shown+label::after {
                                        border-top-color: transparent;
                                    }

                                    // Hover
                                &  .textfield-outlined~label:hover>textarea {
                                        border-color: transparent $color-active $color-active;
                                    }

                                &  .textfield-outlined label:hover>textarea+label::before,
                                &  .textfield-outlined label:hover>textarea+label::after {
                                        border-top-color: $color-active;
                                    }

                                &  .textfield-outlined label:hover>textarea:not(:focus):placeholder-shown {
                                    border-color: $color-active;
                                }

                                // Focus
                            &  .textfield-outlined>textarea:focus {
                                    border-color: transparent $color-focused $color-focused;
                                    outline: none;
                                }

                            &  .textfield-outlined>textarea:focus+label {
                                    color: $color-focused;
                                }

                            &  .textfield-outlined>textarea:focus+label::before,
                            &  .textfield-outlined>textarea:focus+label::after {
                                    border-top-color: $color-focused !important;
                                }

                            // Faster transition in Safari due to fractional font-size issue
                            @media not all and (min-resolution: .001dpcm) {
                                @supports (-webkit-appearance: none) {

                                    .textfield-outlined>textarea,
                                    .textfield-outlined>textarea+label,
                                    .textfield-outlined>textarea+label::before,
                                    .textfield-outlined>textarea+label::after {
                                        transition-duration: .1s;
                                    }
                                }
                            }



                }
            }


        }
    }

    &-footer {
        height: 10%;
        width: calc(100% - 32px);
        padding: 0px 16px;
        border-radius: 0px 0px 24px 24px;
        border-top: 1px solid $off-white;
        // background-color: rgba(182, 127, 127, 0.767);

        &-container {
            position: relative;
            height: fit-content;
            width: 100%;

            & .swiper-button-next {
                position: absolute;
                height: 30px;
                width: 152px;
                /* top: 80%; */
                // left: -2.75%;
                /* transform: translate(0%, -50%); */
                margin: -16px -10px;
                border: none;

                &::after {
                    display: none;
                }
            }

            & .make-my-review {
                cursor: pointer;
                border-radius: 6px;
                color: $widget-white;
                background: rgb(255, 102, 102);
                background: linear-gradient(90deg, rgba(255, 102, 102, 1) 40%, rgba(255, 150, 136, 1) 100%);

                & span {
                    font-size: 22px;
                    font-weight: 300;
                }

                & p {
                    padding: 0;
                    color: $widget-white;
                    font-size: 14px;
                    font-weight: 300;
                }

                &:hover {
                    background: linear-gradient(90deg, rgba(255, 102, 102, 1) 40%, #f35555 100%);
                }
            }
        }
    }
}