.my-cart {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    // background-color: rgba(140, 199, 199, 0.884);

    & header {
        flex-shrink: 0;
        width: 100%;
        height: 8%;
        background: $red;
        background: linear-gradient(90deg, #ffe5e5 0%, #ffd5d5 100%);
        ;
        border-radius: 24px 24px 0px 0px;
        color: $primary-dark-grey;

        & span {
            font-size: 25px;
        }

        & p {
            padding: 0;
            font-size: 20px;
            font-family: Pacifico, sans-serif;
        }
    }

    & .items-added-heading {
        padding: 12px 16px 0px 16px;
        height: 8%;
        margin-bottom: -12px;
        font-size: 18px;
        color: $primary-dark-grey;
    }

    .items-added {
        height: 74%;
        padding: 0px 16px;
        // background-color: rgba(194, 132, 132, 0.753);
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .item-added-modify {
            margin-bottom: 20px;
            border-bottom: 1px solid #dddddd;

            &:last-child {
                border-bottom: none;
            }


            .item-added {
                // height: 94px;
                // background-color: yellow;
                // padding: 0px 0px 12px 0px;
                // margin-bottom: 12px;
                // border-bottom: 1px solid  $off-white;

                &:last-child {
                    border-bottom: none;

                }

                &-img {
                    height: 80px;
                    width: 80px;
                    border-radius: 6px;
                    object-position: center;
                    object-fit: cover;
                }

                &-title {
                    & p {
                        padding: 0;
                        font-size: 16px;
                        color: #222;
                    }
                }

                &-speciality {
                    height: 14px;

                    & .speciality-taste {
                        margin-top: -2px;
                    }

                    & .speciality-taste-text p {
                        height: 14px;
                        margin-top: 1px;
                        font-size: 10px;
                        line-height: 14px;
                        color: #222222;
                        padding: 0;
                    }

                    & .speciality-vegNonveg::after {
                        margin-left: 8px;
                        content: "";
                        height: 14px;
                        width: 1px;
                        background-color: #DDDDDD;
                    }

                    & .speciality-rating::after {
                        margin-left: 8px;
                        content: "";
                        height: 14px;
                        width: 1px;
                        background-color: #DDDDDD;
                    }
                }

                &-description {
                    width: 270px;

                    & p {
                        padding: 0;
                        font-size: 12px;
                        color: #555555;
                        text-transform: none;
                    }
                }

                &-quantity {
                    height: 56px;
                    width: 66px;

                    & p {
                        padding: 0;
                        font-weight: 600;
                        font-size: 16px;
                        color: $primary-black;
                    }
                }

                .item-add-remove {
                    height: 20px;

                    & p {
                        font-weight: 600;
                        font-size: 16px;
                        color: $green;
                    }
                }

                .item-remove,
                .item-add {
                    height: 20px;
                    width: 20px;
                    background-color: transparent;
                    border-radius: 8px;
                    border: 1px solid $green;

                    .item-remove-btn,
                    .item-add-btn {
                        color: $green;
                        font-size: 18px;
                    }
                }
            }

            .item-modify {
                padding: 0px 0px 12px 0px;
                color: $dark-red;
                margin: 0px 0px 0px auto;
                /* transform: revert; */
                width: fit-content;
                cursor: pointer;

                & span {
                    font-size: 24px;
                    font-weight: 300;
                }

                & p {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 16px;
                }
            }

            .add-instruction {
                display: none;
                padding-bottom: 20px;





                & .add-instruction-btn {
                    padding: 2px 3px;
                    border-radius: 10px;
                    background: rgb(255, 102, 102);
                    background: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);
                    color: #AAAAAA;
                    border: none;
                    color: #fff;
                    width: 175px;
                    height: 30px;
                    font-size: 14px;


                    & span {
                        font-size: 24px;
                    }

                    & p {
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                $color-default: $primary-black;
                $color-active: $primary-black;
                $color-focused: $primary-black;

                & .textfield-outlined {
                    position: relative;
                    width: 100%;
                    font-size: 16px;
                    line-height: 1.5;
                }

                // Form elements
                & .textfield-outlined>input {
                    box-sizing: border-box;
                    width: 100%;
                    height: 48px;
                    padding: 7px 14px;
                    font-size: 16px;
                    line-height: inherit;
                    color: $color-active;
                    border-style: solid;
                    border-width: 1px;
                    border-color: transparent #AAAAAA #AAAAAA;
                    border-radius: 12px;
                    -webkit-text-fill-color: currentColor; // Safari
                    background-color: transparent;
                    caret-color: $color-focused;
                    transition: border .2s, box-shadow .2s;
                }

                & .textfield-outlined>input:not(:focus):placeholder-shown {
                    border-top-color: #AAAAAA;
                }

                // Label
                & .textfield-outlined>input+label {
                    display: flex;
                    width: 100.25%;
                    height: 48px;
                    position: absolute;
                    top: -1.975px;
                    left: 0;
                    font-size: 14px;
                    line-height: 8px;
                    color: $color-default;
                    cursor: text;
                    transition: color .2s,
                        font-size .2s,
                        line-height .2s;
                }

                & .textfield-outlined>input:not(:focus):placeholder-shown+label {
                    font-size: 14px;
                    line-height: 54px;
                    color: $primary-black;
                }

                // Corners
                & .textfield-outlined>input+label::before,
                .textfield-outlined>input+label::after {
                    content: "";
                    display: block;
                    box-sizing: border-box;
                    height: 48px;
                    min-width: 10px;
                    margin-top: 3.25px;
                    font-size: 14px;
                    border-top: solid 1px #AAAAAA;
                    pointer-events: none;
                    box-shadow: inset 0 1px transparent;
                    transition: border .2s,
                        box-shadow .2s;
                }

                & .textfield-outlined>input+label::before {
                    margin-right: 4px;
                    border-left: solid 1px transparent;
                    border-radius: 12px 0;
                }

                & .textfield-outlined>input+label::after {
                    flex-grow: 1;
                    margin-left: 4px;
                    border-right: solid 1px transparent;
                    border-radius: 0 12px;
                }

                & .textfield-outlined>input:not(:focus):placeholder-shown+label::before,
                & .textfield-outlined>input:not(:focus):placeholder-shown+label::after {
                    border-top-color: transparent;
                }

                // Hover
                & .textfield-outlined~label:hover>input {
                    border-color: transparent $color-active $color-active;
                }

                & .textfield-outlined label:hover>input+label::before,
                & .textfield-outlined label:hover>input+label::after {
                    border-top-color: $color-active;
                }

                & .textfield-outlined label:hover>input:not(:focus):placeholder-shown {
                    border-color: $color-active;
                }

                // Focus
                & .textfield-outlined>input:focus {
                    border-color: transparent $color-focused $color-focused;
                    outline: none;
                }

                & .textfield-outlined>input:focus+label {
                    color: $color-focused;
                }

                & .textfield-outlined>input:focus+label::before,
                & .textfield-outlined>input:focus+label::after {
                    border-top-color: $color-focused !important;
                }

                // Faster transition in Safari due to fractional font-size issue
                @media not all and (min-resolution: .001dpcm) {
                    @supports (-webkit-appearance: none) {

                        .textfield-outlined>input,
                        .textfield-outlined>input+label,
                        .textfield-outlined>input+label::before,
                        .textfield-outlined>input+label::after {
                            transition-duration: .1s;
                        }
                    }
                }
            }
        }

    }

    .cooking-instructions {


        height: 24%;
        margin: 0px 16px;


        &-container {
            height: 48px;
            width: 100%;
            border-radius: 12px;
            padding: 0px 0px 0px 16px;
            border: 0.5px solid $light-grey;

            // & input {
            //     display: none;
            // }

            // & p {
            //     padding: 0;
            //     font-size: 16px;
            //     color: $primary-black;
            // }
            // & span {
            //     padding: 0;
            //     font-size: 24px;
            //     color: #525252;
            // }
        }

        $color-default: $primary-black;
        $color-active: $primary-black;
        $color-focused: $primary-black;

        & .textfield-outlined {
            position: relative;
            margin-bottom: 20px;
            width: 100%;
            padding-top: 6px;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: .4px;
        }

        // Form elements
        & .textfield-outlined>input {
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            padding: 7px 14px 0px 14px;
            font-size: 15px;
            line-height: inherit;
            color: $color-active;
            border-style: solid;
            border-width: 1px;
            border-color: transparent #AAAAAA #AAAAAA;
            border-radius: 12px;
            -webkit-text-fill-color: currentColor; // Safari
            background-color: transparent;
            caret-color: $color-focused;
            transition: border .2s, box-shadow .2s;
        }

        & .textfield-outlined>input:not(:focus):placeholder-shown {
            border-top-color: #AAAAAA;
        }

        // Label
        & .textfield-outlined>input+label {
            display: flex;
            width: 100%;
            height: 48px;
            position: absolute;
            top: 4.5px;
            left: 0;
            font-size: 14px;
            line-height: 8px;
            color: $color-default;
            cursor: text;
            transition: color .2s,
                font-size .2s,
                line-height .2s;
        }

        & .textfield-outlined>input:not(:focus):placeholder-shown+label {
            font-size: 14px;
            line-height: 54px;
            color: $primary-black;
        }

        // Corners
        & .textfield-outlined>input+label::before,
        .textfield-outlined>input+label::after {
            content: "";
            display: block;
            box-sizing: border-box;
            height: 48px;
            min-width: 10px;
            margin-top: 2.25px;
            font-size: 14px;
            border-top: solid 1px #AAAAAA;
            pointer-events: none;
            box-shadow: inset 0 1px transparent;
            transition: border .2s,
                box-shadow .2s;
        }

        & .textfield-outlined>input+label::before {
            margin-right: 4px;
            border-left: solid 1px transparent;
            border-radius: 12px 0;
        }

        & .textfield-outlined>input+label::after {
            flex-grow: 1;
            margin-left: 4px;
            border-right: solid 1px transparent;
            border-radius: 0 12px;
        }

        & .textfield-outlined>input:not(:focus):placeholder-shown+label::before,
        & .textfield-outlined>input:not(:focus):placeholder-shown+label::after {
            border-top-color: transparent;
        }

        // Hover
        & .textfield-outlined~label:hover>input {
            border-color: transparent $color-active $color-active;
        }

        & .textfield-outlined label:hover>input+label::before,
        & .textfield-outlined label:hover>input+label::after {
            border-top-color: $color-active;
        }

        & .textfield-outlined label:hover>input:not(:focus):placeholder-shown {
            border-color: $color-active;
        }

        // Focus
        & .textfield-outlined>input:focus {
            border-color: transparent $color-focused $color-focused;
            outline: none;
        }

        & .textfield-outlined>input:focus+label {
            color: $color-focused;
        }

        & .textfield-outlined>input:focus+label::before,
        & .textfield-outlined>input:focus+label::after {
            border-top-color: $color-focused !important;
        }

        // Faster transition in Safari due to fractional font-size issue
        @media not all and (min-resolution: .001dpcm) {
            @supports (-webkit-appearance: none) {

                .textfield-outlined>input,
                .textfield-outlined>input+label,
                .textfield-outlined>input+label::before,
                .textfield-outlined>input+label::after {
                    transition-duration: .1s;
                }
            }
        }
    }



    &-footer {
        height: 10%;
        width: calc(100% - 32px);
        padding: 0px 16px;
        border-radius: 0px 0px 24px 24px;
        border-top: 1px solid $off-white;
        // background-color: rgba(182, 127, 127, 0.767);

        &-container {
            position: relative;
            height: fit-content;
            width: 100%;

            & .swiper-button-prev {
                position: absolute;
                height: 26px;
                width: 152px;
                /* top: 80%; */
                /* transform: translate(0%, -50%); */
                margin: -14px -9px;
                background-color: transparent;

                &::after {
                    display: none;
                }
            }

            & .swiper-button-next {
                position: absolute;
                height: 30px;
                width: 152px;
                /* top: 80%; */
                // left: -2.75%;
                /* transform: translate(0%, -50%); */
                margin: -16px -10px;
                border: none;

                &::after {
                    display: none;
                }
            }

            & .add-more {

                // padding: 3px 12px;
                border-radius: 6px;
                border: 1px solid $dark-red;
                cursor: pointer;

                & span {
                    font-size: 22px;
                    color: $dark-red;
                }

                & p {
                    padding: 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: $dark-red;
                }
            }

            & .place-order {
                cursor: pointer;
                border-radius: 6px;
                color: $widget-white;
                background: linear-gradient(90deg, rgb(255, 102, 102) 40%, rgb(255, 150, 136) 100%);

                & span {
                    font-size: 22px;
                    font-weight: 200;
                }

                & p {
                    padding: 0;
                    color: $widget-white;
                    font-size: 14px;
                }

                &:hover {
                    background: linear-gradient(90deg, rgba(255, 102, 102, 1) 40%, #f35555 100%);
                }
            }
        }
    }
}