& .netbanking {
    position: relative;
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out;
    // background-color: rgba(123, 201, 123, 0.801);

    & p {
        color: $primary-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        padding-top: 32px;
        line-height: 24px;
        text-transform: none;
    }

    & .bank-options {
        height: 140px;
        width: 365px;
        // background-color: red;
    }

    & .bank-option {
        width: 80px;
        border-radius: 12px;
        height: 60px;
        cursor: pointer;
        border: 1px solid transparent;

        &.active {
            border: 1px solid $dark-red;
        }

        & img {
            height: 36px;
            width: 36px;
        }

        & p {
            color: $primary-dark-grey;
            text-align: center;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
            padding: 0px;
            text-transform: none;
        }
    }

    .dropdown-default, li, span {
        font-size: 16px;
        font-weight: 400;
    }
    
    
    .dropdown-wrapper {
        position: relative;
        width: 365px;
        padding: 8px 10px;
        background: #fff;
        border-radius: 8px;
        //box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: none;
        color: #222;
        border: 1px solid #ddd;
        transition: all 0.3s ease-out;
        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -3px;
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: #222 transparent;
        }
        &.is-active {
            border: none;
            background: #FF9898;
            background: linear-gradient(90deg, #ffe5e5 0%, #ffd5d5 100%);
            box-shadow: none;
            border-bottom: none;
            color: #222;
    
            &:after {
                border-color: #222 transparent;
                transform: rotate(180deg);
            }
            & .dropdown-list {
                height: 300px;
            }
        }
    }
    
    .dropdown-list {
        /* Size & position */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* Styles */
        background: #fff;
        border-radius: 0 0 12px 12px;
        border-top: none;
        border-bottom: none;
        list-style: none;
        transition: all 0.3s ease-out;
        /* Hiding */
        height: 0px;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 2px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 2px;
            -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
            background-color: #555;
        }
        & li {
            padding: 0 10px;
        }
        & li:hover a {
            color: #FF4747;
        }
        & li:last-of-type a {
            border: none;
        }
        & a {
            display: block;
            text-decoration: none;
            color: #333;
            padding: 10px 0;
            transition: all 0.3s ease-out;
        }
    }

    .header-dropDown {
        position: absolute;
        top: 67.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
}