&-left {
    height: 100%;
    width: 38%;
    background-color: $off-white;
    border-radius: 24px;
}

.restaurant-logo {
    height: 156px;
    width: 156px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    
    & img {
        height: 100%;
        width: 100%;
    }
}